@media (max-width:768px){
    .container{
        display: block;
    }
    .cabecera{
        text-align: center;
    }
    .vector{
        display: inline-block;
    }
    .vector-img{
        height: 30%;
        padding: 2rem 1rem 0 2rem;
        width: 30%;
    }
    .titulo{
        font-size: 1.8rem;
        margin-bottom: .5rem;
        padding: 2rem 1rem 0 0;
        width: 60%;
    }
    .cifrador{
        align-items: center;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .area, .respuesta{
        padding: 0;
        text-align: center;
        width:100%;
    }
    .area-box1, .area-box2{
        height: 12rem;
        margin: 0;
        width: 80%;
    }
    .advertencia{
        margin:.5rem 1rem .5rem 1rem;
        width: 89%;
    }
    .botonCopiar, .boton1, .boton2{
        margin: .3rem;
        width: 80%;
    }
    .rodapie{
        width: 100%;
    }
}