.container {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}

/*CABECERA*/
.cabecera{
    display: flex;
}

.vector{
    display: flex;
}

.vector-img{
    display: flex;
    padding: 2rem 2rem 2rem 4rem;
}

.titulo{
    color: rgba(233, 218, 218, 0.867);
    display: flex;
    padding: 1.8rem;
    font-size: 2.8rem;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 100%);
    font-weight: 600;
}

/*CIFRADOR*/

.cifrador{
    display: flex;
    padding: 1rem 2rem 2rem 2rem;
}

/*CAJA ESCRITURA*/
.area{
    width: 50%;
    padding-right: 1.5rem;
}

.area-box1, .area-box2{
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 80%);
    background: #ADBBBF;
    opacity: 0.5;
    font-size: 1.8rem;
    padding: .9rem .5rem 0 .6rem;
}

.area-box1{
    width: 100%;
    height: 20rem;
    margin-bottom: .5rem;
}

.area-box2{
    width: 90%;
    height: 23rem;
    margin: 0 0 .5rem 1rem;
}

.advertencia{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    background: #fff;
    opacity: .4;
    padding: .5rem 0 .5rem 0;
    margin-left: .5rem;
    border-radius: 5px;
}

.boton1, .boton2, .botonCopiar{
    width: 13rem;
    height: 3rem;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;;
    transition: 1s all;
    background: #5F915D;
    border: none;
}

.boton1{
    margin: .5rem 2.5rem .5rem 2rem;
}

.boton2{
    margin: .5rem 2rem .5rem 2rem;
}

.botonCopiar{
    margin-left: 12rem;
}

.boton1:hover, .boton2:hover, .botonCopiar:hover {
    transform: scale(1.2);
    background: #8a8a8d;
}

/*CAJA RESPUESTA*/

.respuesta{
    width: 50%;
    display: block;
    padding: 0 1.5rem 0 1.5rem;
}

/*RODAPIE*/
.rodapie{
    display: block;
    text-align: center;
    background: #fff;
    opacity: .5;
    padding-bottom: 1rem;
}

.rodapie-img{
    width: 8rem;
}

.rodapie-texto{
    font-size: 1rem;
    line-height: 1.5rem;
}